<div class="item" data-id={{this.id}}>

        <div class="time-wrap">

            <div class="time">{{this.dateDiff}}
            </div>

        </div>

         <div class="info-wrap">

            <div class="name">{{this.name}}
            </div>

            <div class="title">{{this.title}}
            </div>

        </div>

        <div class="pic-wrap">

        <img class="pic" src={{this.svg}}>

        </div>

</div>