<div class="group-warp" data-id={{group.id}}>
    <div class="group-header">
        <div class="bottom-arrow-btn-wrap">
            <svg class="feather bottom-arrow-btn" viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="3" fill="none" stroke-linecap="round" stroke-linejoin="round" style="color: #fff;"><polyline points="6 9 12 15 18 9"></polyline></svg>
        </div>
        <div class="group-name-wrap">
            <div class="group-name">{{group.name}}
            </div>
        </div>
        <div class="features-items-row">
            <div class="sub-item-wrap features-item">
                <div class="title">Subitems
                </div>
            </div>
            <div class="status-item-wrap features-item">
                <div class="title">Status
                </div>
            </div>
            <div class="members-item-wrap features-item">
                <div class="title">Person
                </div>
            </div>
            <div class="date-item-wrap features-item">
                <div class="title">Date
                </div>
            </div>
            <div class="timeline-items-wrap features-item">
                <div class="title">Timeline
                </div>
            </div>
            <div class="progress-tracking-item-wrap features-item">
                <div class="title">Progress Tracking
                </div>
            </div>
            <div class="add-col-btn-wrap">
                <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="feather add-col-btn"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
            </div>
        </div>
    </div>
    <div class="item-list" data-id={{group.id}}>
    </div>
    <div class="add-item-btn-warp">
        <div class="item-info">
            <div class="left-line">
            </div>
            <input type="text" class="add-item-name" placeholder="+ Add item">

            <div class="add-item-btn hide disable">Add
            </div>
        </div>
    </div>  
    <div class="total-items-features">
        <div class="status-warp">
            <div class="status-color-row">
                <div class="status-color working" style="width: {{totalStatusWidthObj.workingWidth}}%;">
                </div>
                <div class="status-color stack" style="width: {{totalStatusWidthObj.stackWidth}}%;">
                </div>
                <div class="status-color done" style="width: {{totalStatusWidthObj.doneWidth}}%;">
                </div>
                <div class="status-color none" style="width: {{totalStatusWidthObj.noneWidth}}%;">
                </div>
            </div>
        </div>
        <div class="total-progress-tracking-item-wrapper">
            <div class="total-progress-tracking-item-wrap">
                <div class="total-progress-warp">
                    <div class="total-progress-row" style="width: {{totalProgress}};">
                    </div>
                </div>
                <div class="total-progress-percent" >{{totalProgress}}
                </div>
            </div>
        </div>
    </div>
</div>