<div class="item-wrap">
    {{#if this.checked}}
      <div class="item checked" data-id="{{this.id}}" onclick="onItemClick()">

      <div class="svgs-wrap">

        <div class="square-row">

        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-check"
        ><polyline points="20 6 9 17 4 12"></polyline></svg>

        </div>

      {{#if this.isImportant}}
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather star on"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"/></svg>
      {{else}}
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"/></svg>
      {{/if}}

      <div class="arrow">
      </div>

      </div>

      <div class="name-wrap">

        <div class="name-title">{{this.email}}
        </div>

      </div>

      <div class="main-text-wrap">

        <div class="main-text">{{this.mainTitle}}
        </div>

      </div>

      <div class="text-wrap">{{this.title}}
      </div>

      <div class="time-wrap">

        <div class="time">12
        </div>

        <div class="mail-star-wrap">

          <div class="mail-star">
          </div>

        </div>

      </div>

      <div class="mail-box">

        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-archive"
        ><polyline points="21 8 21 21 3 21 3 8"></polyline><rect
            x="1"
            y="3"
            width="22"
            height="5"
          ></rect><line x1="10" y1="12" x2="14" y2="12"></line></svg>

      </div>

      <div class="mail-box">

        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather trash"
        ><polyline points="3 6 5 6 21 6"></polyline><path
            d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"
          ></path><line x1="10" y1="11" x2="10" y2="17"></line><line
            x1="14"
            y1="11"
            x2="14"
            y2="17"
          ></line></svg>

      </div>

      <div class="mail-box">

        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-inbox"
        ><polyline points="22 12 16 12 14 15 10 15 8 12 2 12"></polyline><path
            d="M5.45 5.11L2 12v6a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-6l-3.45-6.89A2 2 0 0 0 16.76 4H7.24a2 2 0 0 0-1.79 1.11z"
          ></path></svg>

      </div>

      <div class="mail-box">

        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather snooze feather-clock"
        ><circle cx="12" cy="12" r="10"></circle><polyline
            points="12 6 12 12 16 14"
          ></polyline></svg>
      </div>

      </div>
    {{else}}
      <div class="item" data-id="{{this.id}}" onclick="onItemClick()">

      <div class="svgs-wrap">

        <div class="square-row">

        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-check"
        ><polyline points="20 6 9 17 4 12"></polyline></svg>

        </div>

      {{#if this.isImportant}}
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather star on"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"/></svg>
      {{else}}
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"/></svg>
      {{/if}}

      <div class="arrow">
      </div>

      </div>

      <div class="name-wrap">

        <div class="name-title">{{this.email}}
        </div>

      </div>

      <div class="main-text-wrap">

        <div class="main-text">{{this.mainTitle}}
        </div>

      </div>

      <div class="text-wrap">{{this.title}}
      </div>

      <div class="time-wrap">

        <div class="time">12
        </div>

        <div class="mail-star-wrap">

          <div class="mail-star">
          </div>

        </div>

      </div>

      <div class="mail-box">

        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-archive"
        ><polyline points="21 8 21 21 3 21 3 8"></polyline><rect
            x="1"
            y="3"
            width="22"
            height="5"
          ></rect><line x1="10" y1="12" x2="14" y2="12"></line></svg>

      </div>

      <div class="mail-box">

        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather trash"
        ><polyline points="3 6 5 6 21 6"></polyline><path
            d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"
          ></path><line x1="10" y1="11" x2="10" y2="17"></line><line
            x1="14"
            y1="11"
            x2="14"
            y2="17"
          ></line></svg>

      </div>

      <div class="mail-box">

        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-inbox"
        ><polyline points="22 12 16 12 14 15 10 15 8 12 2 12"></polyline><path
            d="M5.45 5.11L2 12v6a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-6l-3.45-6.89A2 2 0 0 0 16.76 4H7.24a2 2 0 0 0-1.79 1.11z"
          ></path></svg>

      </div>

      <div class="mail-box">

        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather snooze feather-clock"
        ><circle cx="12" cy="12" r="10"></circle><polyline
            points="12 6 12 12 16 14"
          ></polyline></svg>
      </div>

      </div>
    {{/if}}       
</div>