
<div class="message-panle">

        {{#if this.isSender}}
        <div class="item-wrap sender">

                <svg viewBox="0 0 8 13" width="8" height="13" class="type sender">
                    <path opacity=".13" fill="#0000000" d="M1.533 3.568L8 12.193V1H2.812C1.042 1 .474 2.156 1.533 3.568z">

                </path>
                    <path fill="currentColor" d="M1.533 2.568L8 11.193V0H2.812C1.042 0 .474 1.156 1.533 2.568z">

                </path>
                </svg>

                <div class="message-item-wrap" id={{this.id}}>

                    <div class="message-item sender">

                        <div class="text">{{this.content}}
                        </div>
            
                        <div class="info-wrap">

                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather check">
                            <polyline points="20 6 9 17 4 12"/>
                            </svg>

                            <div class="time">{{this.sentTime}}
                            </div>

                        </div>
                    </div>

                </div>
    
            </div>
        {{else}}
            <div class="item-wrap">

        <svg viewBox="0 0 8 13" width="8" height="13" class="type">
            <path opacity=".13" fill="#0000000" d="M1.533 3.568L8 12.193V1H2.812C1.042 1 .474 2.156 1.533 3.568z">

        </path>
            <path fill="currentColor" d="M1.533 2.568L8 11.193V0H2.812C1.042 0 .474 1.156 1.533 2.568z">

        </path>
        </svg>

            <div class="message-item-wrap" id={{this.id}}>

                <div class="message-item">

                    <div class="text">{{{this.content}}}
                    </div>
        
                    <div class="info-wrap">

                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather check">
                        <polyline points="20 6 9 17 4 12"/>
                        </svg>

                        <div class="time">{{this.sentTime}}
                        </div>

                    </div>
                </div>

            </div>

    
            </div>
        {{/if}}
</div>


